<div class="transp-middle-container">
  <div class="welcome-message">
    <h1 class="mt-auto" style="font-size: 3rem; line-height: 1; text-align: center">
      Welcome to the Real World TDVRP Solver!
    </h1>
    <div class="mt-3" style="font-size: 1rem; text-align: center">
      Login using the top-right button to start creating, solving and managing Real World TDVRPs using already existing customers created by your company's administrators.
    </div>
    <div class="mb-auto mt-3" style="font-size: 1rem; text-align: center">
      If you do not have an account, you can create one by clicking the top-right register button.
    </div>
    <!--<div class="mb-auto mt-3" style="font-size: 1rem;">-->
      <!--Go to the 'VRP instances' tab to start creating, solving and managing Real World TDVRPs using already existing customers created by your company's administrators.-->
    <!--</div>-->
  </div>
</div>
