.my-container {
  opacity: 1;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.my-container > * {
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.vrp-details-container::-webkit-scrollbar, .transp-middle-container::-webkit-scrollbar, .vrp-details-points::-webkit-scrollbar, .vrp-details-drivers::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.vrp-details-container, .transp-middle-container, .vrp-details-points, .vrp-details-drivers {
  -ms-overflow-style: none;
}

.vrp-details-container {
  width: 1200px;
  padding: 10px 25px;
  overflow: scroll;

  .vrp-details-summary {
    width: 550px;
    height: 350px;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid #424242;
    padding: 10px;
    line-height: 2;
  }

  .vrp-details-points {
    width: 550px;
    height: 140px;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 25px;
    border: 2px solid #424242;
    padding: 10px;
    overflow: scroll;
  }

  .vrp-details-drivers {
    width: 550px;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    border-radius: 25px;
    border: 2px solid #424242;
    padding: 10px;
    overflow: scroll;
  }
}

.transp-middle-container {
  display: flex;
  margin: 30px;
  height: 90%;
  border-radius: 25px;
  border: 2px solid #424242;
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4));
  overflow-y: scroll;
}
