<div class="transp-middle-container">
  <div class="error-message">
    <img class="mt-auto mb-4" src="../../../assets/pan_tool-24px.svg" style="height: 25%; width: 25%;">
    <h1 style="font-size: 3rem; line-height: 1; text-align: center">
      Error 401:
    </h1>
    <h1 style="font-size: 3rem; line-height: 1; text-align: center">
      Unauthorized
    </h1>
    <div class="mt-3" style="font-size: 1rem; text-align: center">
      You might want to go to the Login Page.
    </div>
    <div class="mb-auto mt-3" style="font-size: 1rem; text-align: center">
      <button mat-raised-button role="link" color="accent"
              (click)="router.navigateByUrl('/login')">Go to Login Page</button>
    </div>
  </div>
</div>
